.bg-image{
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6GVSq1UhZNjVwx17qOo7m8SzRtYldMKREhA&usqp=CAU");  
    background-size:cover;
    background-position:center;
    height: 100vh;

}